body{
  background-color: #01000f;
  font-family: Montserrat, sans-serif;
  color: #f5f5f7;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}


.hero{
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(1, 0, 15, 0.18);
}

.id.cen{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.headeing.home-heading{
  font-size: 4.4vw;
  line-height: 120%;
}
.headeing{
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 58px;
  line-height: 69px;
}

.hero__sub{
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
}

h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 3.8vw;
  line-height: 120%;
  font-weight: 600;
}

h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Maisonneue, sans-serif;
  font-size: 3vw;
  line-height: 120%;
  font-weight: 500;
}

.btn__holder{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 17px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #edb830;
  font-family: Maisonneue, sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.btn__text{
  margin-bottom: 0px;
  padding: 0px;
  background-color: #edb830;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}



.section.process-section{
  overflow: hidden;
  height: auto;
  padding-top: 150px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.section{
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.id{
  width: 95vw;
  max-width: 1400px;
  min-height: 50px;
}

.accent{
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #96e6f9;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.large__callout{
  max-width: 95vw;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #f5f5f7;
  font-size: 3vw;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 10px;
}

.processid{
  /* background: black; */
  position: static;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: auto;
  max-width: 1400px;
  min-height: 50px;
  margin-top: 65px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.id.process__id{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 820px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.process__card{
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

/* .process__card._02{
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
} */

.process__img{
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.process__text{
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.process__imginner{
  width: 250px;
  height: 250px;
  background-color: rgba(162, 48, 237, 0);
}


.process__text{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.accent.num{
  margin-bottom: 10px;
  font-family: 'DM Mono', sans-serif;
}

.accent{
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #96e6f9;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.h3{
  margin-bottom: 10px;
  font-size: 3.8vw;
  line-height: 120%;
  font-weight: 600;
}

.processs__para{
  text-align: justify;
}

/* #w-node-_8a68bbd2-fa7c-fe22-2f10-1d2225ca99ac-25ca99ab{
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8a68bbd2-fa7c-fe22-2f10-1d2225ca99ae-25ca99ab{
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
} */

.bg__item2{
  position: absolute;
  left: auto;
  top: 142.5vh;
  right: -11%;
  bottom: 0%;
  width: 400px;
}

img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.section.less.tech-we-work{
  padding-top: 200px;
}

.div-block-2.cen{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.id-2.insta__id{
  overflow: visible;
}

.id-2{
  position: static;
  width: 95vw;
  min-height: 50px;
}

.splide__track{
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
}

.splide__list{
  display: -ms-grid;
  display: grid;
  margin-top: -14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.splide__slide{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-right: 0em;
  padding: 20px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.86;
}

.image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-logo-wraper{
  width: 15%;
  margin-bottom: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.id.pruplebox.contact{
  padding-top: 75px;
  padding-bottom: 75px;
}

.id.pruplebox {
  position: static;
  top: 35vh;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 75px 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6e47ff;
  box-shadow: 5px 5px 19px 0 rgba(162, 48, 237, 0.73);
}

.contact__inner{
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.large__callout.full{
  max-width: none;
  font-size: 2.1vw;
}

.large__callout{
  max-width: 95vw;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #f5f5f7;
  font-size: 3vw;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
}

.form{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.fl{
  margin-bottom: -17px;
  color: #6e47ff;
}

.w-input, .w-select{
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.tf{
  position: relative;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  background-color: #7651ff;
  color: #fff;
  text-transform: none;
}

.w-input, .w-select{
  color: #CCBEFF !important;
}

select:not(:-internal-list-box) {
  background-color: buttonface;
  overflow: visible !important;
}


.btn__holder{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 17px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #edb830;
  font-family: Maisonneue, sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

input.w-button{
  -webkit-appearance: button;
}

.w-button{
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.btn__text{
  margin-bottom: 0px;
  padding: 0px;
  background-color: #edb830;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}


button, input, optgroup, select, textarea{
  color: inherit;
  font: inherit;
  margin: 0;
}

.success-message{
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.w-form-done{
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail{
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.footer__main {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__id {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  max-width: none;
  min-height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__heading {
  height: 35px;
  color: #a230ed;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer__link.li{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.footer__link {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

a{
  backgroundColor: 'transparent'
}

.locations__grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.accent.location{
  margin-bottom: 5px;
  color: rgba(245, 245, 247, 0.75);
  font-size: 12px;
}

.em {
  color: #f5f5f7;
  text-decoration: none;
}

.footer__col.last {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 16px;
}

.spacer35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialink {
  margin-right: 0px;
  margin-left: 15px;
}

.w-inline-block{
  max-width: 100%;
  display: inline-block;
}

.social__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f5f5f7;
}

.social__icon.in {
  width: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

svg:not(:root){
  overflow: hidden;
}

.footer__id.cent {
  min-height: auto;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__link.byline{
  margin-bottom: 0px;
  opacity: 0.5;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 14px;
}